{% extends 'base.html.twig' %}

{% block title %}Hotel Symfony{% endblock %}

{% block body %}
{% for message in app.flashes('success') %}
    <div class="alert alert-success text-center">
        {{ message }}
    </div>
{% endfor %}
<div class="container d-flex flex-column align-items-center">
<h1 class="text-center mt-4">Hotel Symfony</h1>
<img src="{{ asset('images/hotel/symfony.jpg') }}" alt="" style="width: 400px; height: 300px; object-fit: cover">
<h2 class="text-center my-4">Un nom banal mais une expérience hors du commun</h2>
</div>


<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
{% for slide in slides %}
  {% if slide.ordre == 1 %}
    <div class="carousel-item active">
  {% else %}
    <div class="carousel-item">
  {% endif %} 
      <img src="{{ asset('images/slider/' ~ slide.photo) }}" class="d-block w-100" alt="..."  style="height: 800px; object-fit:cover;">
    </div>    
{% endfor %}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
</button>
</div>



{% endblock %}
